@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fraunces', serif;;
  color: hsl(212, 27%, 19%);
}

p {
  font-family: 'Barlow', sans-serif;
  margin-bottom: 0;
}

header {
  /* width: 100%; */
  background-color: hsla(199, 99%, 59%, 0.944);
  height: 800px;
  background-image: url(../images/desktop/image-header.jpg);
  background-size: cover;
  /* background-attachment: inherit; */
  background-position: center;

  /* background-position: 0 -130px; */
  text-align: center;
}

h1 {
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 60px;
  font-weight: 900;
  margin: 2em 0px 1.8em;
}

header .arrow{
  height: 120px;
}

.grid-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}


.learn_more {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: start;
  /* justify-content: space-around; */
  margin: 25% 18% ;
}

.image-transform {
  background-image: url(../images/desktop/image-transform.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.image-stand-out {
  background-image: url(../images/desktop/image-stand-out.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.learn_more h2 {
  font-size: 42px;
  font-weight: 900;
  margin-bottom: 0;
}

.learn_more p {
  font-size: 18px;
  color: hsl(210, 4%, 67%);
}

.learn_more a {
  text-decoration: none;
  position: relative;
  color: hsl(212, 27%, 19%);
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 0px 8px;
}

.learn_more a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 40%; /* Регулируйте это значение, чтобы установить высоту подчеркивания */
  background-color: hsl(54, 100%, 85%); /* Цвет подчеркивания */
  border-radius: 5px;
  bottom: 1px;
  left: 0;
  z-index: -1; /* Чтобы подчеркивание было под текстом */
}

.learn_more:last-child a::before {
  background-color: hsl(8, 66%, 91%);
}

.grid-services {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.service:first-child {
  background-image: url(../images/desktop/image-graphic-design.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.service:nth-child(2) {
  background-image: url(../images/desktop/image-photography.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.service {
  padding: 60% 25% 8%;
  text-align: center;
}

.service h3 {
  color:hsl(167, 40%, 24%);
  font-weight: 900;
  margin-bottom: 10%;
}
.service p {
  color:hsl(167, 27%, 34%);
}

.service:nth-child(2) h3 {
  color:hsl(198, 62%, 26%);
}
.service:nth-child(2) p {
  color:hsl(198, 43%, 32%);
}

